doctype html
html(lang="en")
  head
    title Webx.io JADE template engine    
  body
    h1 Webx.io JADE template engine
    h3 Path: 
        strong=context.get('user').name + context.request().path()
    h3 Username: 
        strong=context.get('user').name