<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Webx.io Handlebars template engine</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
      <h1>Webx.io Handlebars template engine</h1>
      <h3>User <strong>{{user.name}}</strong></h3>
    </body>
</html>
